<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="error-message">
          <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</div>
          <div *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format.</div>
        </div>
      </div>
      <div>
        <label for="mobile">Mobile Number:</label>
        <input type="text" id="mobile" formControlName="mobile">
        <div *ngIf="loginForm.get('mobile')?.invalid && (loginForm.get('mobile')?.dirty || loginForm.get('mobile')?.touched)" class="error-message">
          <div *ngIf="loginForm.get('mobile')?.hasError('required')">Mobile number is required.</div>
          <div *ngIf="loginForm.get('mobile')?.hasError('pattern')">Mobile number must be numeric and have exactly 10 digits.</div>
        </div>
      </div>
      <button (click)="login()" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
  